<!DOCTYPE html>
<html>
  <head>
    <title>Slithering through OOP with PyGame</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147552064-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-147552064-1');
    </script>

  </head>
  <body>
    <div id="app">
      <h2 class="text-center headline"><b>O.O.Python</b></h3>
      <h6 class="text-center headline">by Team Infinity</h6>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active" v-if="is_home">
              <a class="nav-link"><b><u>Home</u></b></a>
            </li>
            <li class="nav-item" v-else>
              <a class="nav-link" @click="changeSite(0)"><b>Home</b></a>
            </li>
            <li class="nav-item active" v-if="is_course">
              <a class="nav-link"><b><u>Course</u></b></a>
            </li>
            <li class="nav-item" v-else>
              <a class="nav-link" @click="changeSite(1)"><b>Course</b></a>
            </li>
            <li class="nav-item active" v-if="is_press_release">
              <a class="nav-link"><b><u>Press Release</u></b></a>
            </li>
            <li class="nav-item" v-else>
              <a class="nav-link" @click="changeSite(2)"><b>Press Release</b></a>
            </li>
            <li class="nav-item active" v-if="is_contact">
              <a class="nav-link"><b><u>Contact Us!</u></b></a>
            </li>
            <li class="nav-item" v-else>
              <a class="nav-link" @click="changeSite(3)"><b>Contact Us!</b></a>
            </li>
          </ul>
        </div>
      </nav>
      <div v-if="is_course">
        <br>
        <h4 class="text-center">Tasks Progress:</h4>
        <nav clas="completion-navbar">
          <ul class="pagination justify-content-center">
          <span v-for="(task, taskIndex) in tasks">
            <li class="completion" v-if="isCurrent(taskIndex + 1)">
              <button type="button" class="btn btn-primary bg-primary-dark" @click="currentPage=taskIndex + 1">{{taskIndex + 1}}</button>
            </li>
            <li class="completion" v-else-if="task.content.output">
              <button type="button" class="btn btn-success bg-success-dark"  @click="currentPage=taskIndex + 1" class="page-link">{{taskIndex + 1}}</button>
            </li>
            <li class="completion" v-else-if="task.content.tried">
              <button type="button" class="btn btn-danger bg-danger-dark"  @click="currentPage=taskIndex + 1" class="page-link">{{taskIndex + 1}}</button>
            </li>
            <li class="completion" v-else>
              <button type="button" class="btn btn-secondary bg-secondary"  @click="currentPage=taskIndex + 1" class="page-link">{{taskIndex + 1}}</button>
            </li>
          </span>
          </ul>
        </nav>
        <hr>
        <div v-for="(task, taskIndex) in tasks" v-if="taskIndex === currentPage - 1" class="container col-8 text-center p-5">
       <!--    <div class="card border-dark">
            <h5 class="card-header">{{ task.content.topic }} </h5>
            <div class="card-body"> -->
              <div id="topic-description" class="preserve-formatting-text" v-html=task.content.topicDescription></div>
            <!-- </div> -->
          <!-- </div> -->
          <div class="m-3"></div>

          <div class="card border-dark text-white bg-primary-dark-2">
            <h5 class="card-header text-center">{{ task.name }}</h5>
            <div class="card-body">
              <div class="card-text preserve-formatting-text" v-html=task.content.taskDescription></div>
            </div>
          </div>
          <div class="m-3"></div>
  
          <course-component v-bind:value=task.content v-bind:task-id=task.content.taskId @handler="evaluateCode"></course-component>
          
          <div class="m-3"></div>
  
          <div class="alert alert-success task-passed" role="alert" v-if="showPassedTaskAlerts[taskIndex]">
            Task passed!
          </div>
          <div class="alert alert-danger task-failed" role="alert" v-if="showFailedTaskAlerts[taskIndex]">
            Task failed! Please try again.
          </div>
          <nav>
              <ul class="pagination justify-content-center">
              <li v-bind:class="{ disabled: isFirst(currentPage) }" class="page-item">
                <span @click="currentPage -= 1" class="page-link"> << </span>
              </li>
              <span v-for="(task, taskIndex) in tasks">
                <li class="page-item active" v-if="isCurrent(taskIndex + 1)">
                  <span @click="currentPage=taskIndex + 1" class="page-link">Task {{taskIndex + 1}}</span>
                </li>
                <li class="page-item" v-else>
                  <span @click="currentPage=taskIndex + 1" class="page-link">Task {{taskIndex + 1}}</span>
                </li>
              </span>
              <li v-bind:class="{ disabled: isLast(currentPage) }" class="page-item">
                <span @click="currentPage += 1" class="page-link"> >> </span>
              </li>
              </ul>
            </nav>
        </div>

      </div>

      <div class="container text-center" v-else-if = "is_home" >
          <header class="header ">
              <div class="overlay"></div>
                <div class="container">
                    <div class="description ">
                <h1>
                  Slithering your way through OOP
                  <p>
                  The interactive and fun way of learning Object Oriented Programming</p>
                  <button class="btn btn-outline-secondary btn-lg">See more</button>
                </h1>
                </div>
              </div>    
          </header>
          <br><br><br><br><br><br><br><br><br><br>
          <div class="about" id="about">
              <div class="container">
                <h1 class="text-center">Crash Course on ALSET</h1>
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <img src="https://buffer.com/resources/wp-content/uploads/2017/03/Square-Video-vs-Landscape-Video-A-New-Buffer-and-Animoto-Study-1024x669.jpg" class="img-fluid">
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-12 desc">
                    
                    <h3>Introduction to Object Oriented Programming</h3>
                    <p>
                        It is highly recommended for you go through our OOP crash course to 
                        refresh your knowledge and learn more about OOP before you embark on our activities!
                        In this course, you'll learn about:
                        <ul>
                          <li>abc</li>
                          <li>abc</li>
                          <li>abc</li>
                        </ul>
                        <button class="btn btn-outline-secondary btn-lg" onclick="window.location.href = 'https://achievements-prod.firebaseapp.com/#/paths/-Lq5JUHUIbKJ024kKLh8';"> View our Crash Course</button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
  
          <br><br>
          <hr>
        <h3 class=>PyGame Emulator</h3>
        <p><b>Run your own live game here!</b></p>
        <iframe src='https://oziomek1.github.io/bt3103/' width="100%" height="800px"></iframe>
        <br>
        <!-- Testimonials -->
        <div class="Testimonials">
          <div class="container">
            <h1 class="text-center"> Users' Stories </h1>
              <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                          <img src="https://raw.githubusercontent.com/oziomek1/bt3103/master/src/images/square.jpg">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Name</h4>
                              <p class="card-text">
                                Course & Year of Study
                              </p>
                        </div>
                        <div class="card-title">
                          <p class="card-text-test">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora ea perspiciatis maiores iusto atque, in rerum dolores impedit officiis! Inventore sit in totam voluptatem labore aut id ipsa perspiciatis maiores!
                          </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                          <img src="https://raw.githubusercontent.com/oziomek1/bt3103/master/src/images/square.jpg">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Name2</h4>
                              <p class="card-text">
                                Course & Year of Study 2
                              </p>
                        </div>
                        <div class="card-title">
                          <p class="card-text-test">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel animi, voluptates facilis quis, quod asperiores maiores fugiat, corporis quas doloremque unde dolorem ipsam nulla aliquid voluptatem odio modi optio vero!
                          </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="card">
                        <div class="card-img">
                          <img src="https://raw.githubusercontent.com/oziomek1/bt3103/master/src/images/square.jpg">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Name3</h4>
                              <p class="card-text">
                                Course & Year of Study 3
                              </p>
                        </div>
                        <div class="card-title">
                          <p class="card-text-test">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, error commodi laborum quam reprehenderit animi neque iusto asperiores quia dolores exercitationem recusandae eum sint, numquam nemo inventore, maxime quo id!
                          </p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <hr>
        <hr>

        <!-- Team section -->
        <div class="team">
          <div class="container">
            <h1 class="text-center">Our Team</h1>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 item">
            <img src="https://schoolforinformation.org/wp-content/uploads/2018/09/profile-300x300.png" class="img-fluid" alt="team">
            <div class="des">
              Aven
              </div>
            <span class="text-muted">Y2 Business Analytics</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 item">
            <img src="https://schoolforinformation.org/wp-content/uploads/2018/09/profile-300x300.png" class="img-fluid" alt="team">
            <div class="des">
                Jit
              </div>
            <span class="text-muted">Y2 Business Analytcs</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 item">
            <img src="https://schoolforinformation.org/wp-content/uploads/2018/09/profile-300x300.png" class="img-fluid" alt="team">
            <div class="des">
              Wojtek 
              </div>
            <span class="text-muted">Y5 Computer Science</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 item">
            <img src="https://schoolforinformation.org/wp-content/uploads/2018/09/profile-300x300.png" class="img-fluid" alt="team">
              <div class="des">
              Kyle
              </div>
            <span class="text-muted">Y3 Computer Science</span>
            </div>
          </div>
          </div>
        </div>
      </div>

      <div class="container text-center" v-else-if="is_press_release">
        <br>
        <h1> <b>Press Release</b> </h1>
        <hr>
        <h4><b>OOPython, a Pygame learning platform for Object Oriented Programming</b></h4>
        <div>
          <figure>
              <img src='https://raw.githubusercontent.com/oziomek1/bt3103/master/src/images/meeting.jpg' alt='OOPython'/>
              <figcaption> Through building a popular video game, Snake, the program aims to help beginner programmers understand OOP.</figcaption>
          </figure>
          <div class="text-justify" v-html=press_release_text>
          </div>
        </div>
      </div>

      <div class="container center" v-else>
        <br>
        <div class="header-contact-image">
          <img src="https://raw.githubusercontent.com/oziomek1/bt3103/master/src/images/meeting.jpg" class="img-fluid">
          <h2 class="header-over-image-1"> <b>Contact Us</b> </h2>
          <h5 class="header-over-image-2">Feel free to drop us a line below!</h5>
        </div>
        <hr>
        <div class="alert alert-secondary text-center">Thank you for your feedback, we will strive towards making OOPython better for you!</div>

        <div class="row justify-content">
          <div class="col-3"></div>
          <div class="col-9">
            <form class="needs-validation contact-form" id="feedbackForm" onsubmit="formSubmit(); return false;">
              <div class="name col-md-8 mb-3">
                <label for="validationTooltip01">First name*</label>
                <input type="text" class="form-control" id="name" placeholder="First name" required>
                <div class="invalid-feedback">Enter your name</div>
              </div>
              <div class="email col-md-8 mb-3">
                <label for="validationTooltip02">Email Address*</label>
                <input type="email" class="form-control" id="email" placeholder="Email Address" required>
                <div class="invalid-feedback">Enter a valid email</div>
              </div>
            
              <div class="feedback-type col-md-8 mb-3">
                <label for="validationTooltip03">Feedback Type</label>
                <select class="custom-select" id="feedbackType" required>
                  <option value="">Select Option</option>
                  <option value="bugs">Bugs & Errors</option>
                  <option value="suggestions">Suggestions & Improvements</option>
                  <option value="others">Others</option>
                </select>
                <div class="invalid-feedback">Select one option</div>
              </div>

              <div class="comments col-md-8 mb-3">
                <label for="comment">Comments:</label>
                <textarea class="form-control" rows="5" id="comment" placeholder="Details..." required></textarea>
              </div>
              <div class="invalid-feedback">Kindly elaborate more about your feedback raised</div>

              <div class="col-md-8 mb-3 text-center">
                <button class="btn btn-primary" type="submit">Submit form</button>
              </div>

            </form>  
          </div> 
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/python/python.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-codemirror@4.0.6/dist/vue-codemirror.min.js"></script>
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
    <script>
      Vue.use(window.VueCodemirror)
      var myComponent = Vue.component('course-component', {
        props: ['value', 'taskId'],
        data: function() {
          return {
            cmOptions: {
              lineNumbers: true,
              readOnly: false,
              tabMode: "indent",
              matchBrackets: true,
              indentUnit: 4,
              mode: 'python',
            },
            answer: '',
            content: this.value
          }
        },
        methods: {
          executeCode: function(code) {
            let post_body = {
              "userToken": "EXTERNAL", 
              "editable": { "0": this.content.userInput },
              "hidden": { "0": this.content.taskId },
              "shown": { "0": '' }
            }
            console.log(JSON.stringify(post_body))
            fetch('', {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                "Access-Control-Allow-Origin" : "*",
                "Access-Control-Allow-Credentials" : true
              },
              mode: 'no-cors',
              body: JSON.stringify(post_body)
            }).then(response => {
              console.log(response);
              return response.text().then(function (text) {
                return text ? JSON.parse(text) : {}
              })
            }).then(data => {
              this.result = JSON.parse(JSON.stringify(data))
              console.log('data', data, this.value);
              return this.$emit('handler',{data, taskId:this.taskId})
            }).catch(function(err) {
              console.log('Error', err);
            })
          },
        },
        template:
          `<div class="component-input">
             <div class="card border-dark text-white bg-primary-dark-3">
              <h5 class="card-header text-center">Put your solution there:</h5>
              <div class="card-body text-left">
                <codemirror class="inputTextArea" v-model="content.userInput" :options="cmOptions"></codemirror>
              </div>
            </div>

            <br/>
            <button @click="executeCode(content.userInput)" id="submit" class="btn btn-primary">Submit solution</button>
          </div>`
      });

      new Vue({
        el: "#app",
        data: {
          tasks: [
            {
              name: 'Task 1', 
              content: {
                topic: 'Square Class',
                topicDescription: null,
                taskDescription: null,
                userInput: null,
                taskId: '1',
                output: false,
                tried: false,
              },
            },
            {
              name: 'Task 2', 
              content: {
                topic: 'Cell Class',
                topicDescription: null,
                taskDescription: null,
                userInput: defaultInput(),
                taskId: '2',
                output: false,
                tried: false,
              },
            },
            {
              name: 'Task 3', 
              content: {
                topic: 'getLength of Snake',
                topicDescription: null,
                taskDescription: null,
                userInput: defaultInput(),
                taskId: '3',
                output: false,
                tried: false,
              }
            },
            {
              name: 'Task 4', 
              content: {
                topic: 'defining direction',
                topicDescription: null,
                taskDescription: null,
                userInput: defaultInput(),
                taskId: '4',
                output: false,
                tried: false,
              }
            },
            {
              name: 'Task 5', 
              content: {
                topic: 'addCell for Snake',
                topicDescription: null,
                taskDescription: null,
                userInput: defaultInput(),
                taskId: '5',
                output: false,
                tried: false,
              }
            },
            {
              name: 'Task 6', 
              content: {
                topic: 'abstraction and class Play',
                topicDescription: null,
                taskDescription: null,
                userInput: defaultInput(),
                taskId: '6',
                output: false,
                tried: false,
              }
            },
            {
              name: 'Task 7', 
              content: {
                topic: 'Polymorphism of Snake and Snack',
                topicDescription: null,
                taskDescription: null,
                userInput: defaultInput(),
                taskId: '7',
                output: false,
                tried: false,
              }
            },
          ],
          result: '',
          currentPage: 1,
          completePages: [],
          pages: [...Array(7).keys()].slice(1),
          base_github_url: 'https://raw.githubusercontent.com/oziomek1/bt3103/master/',
          showPassedTaskAlerts: new Array(7).fill(false),
          showFailedTaskAlerts: new Array(7).fill(false),
          is_home: true,
          is_course: false,
          is_contact: false,
          is_press_release: false,
          press_release_text: '',
        },
        components: {
          myComponent: myComponent,
        },
        mounted () {
          let $vm = this;

          for(let i = 0; i < $vm.tasks.length; i++) {
            this.fetchText($vm.base_github_url + 'text/task_' + (+i + 1) + '_intro.html').then(function(result) {
              $vm.tasks[i].content.topicDescription = result;
            });
            this.fetchText($vm.base_github_url + 'text/task_' + (+i + 1) + '_task.html').then(function(result) {
              $vm.tasks[i].content.taskDescription = result;
            });
            this.fetchText($vm.base_github_url + 'solution_template/template_' + (+i + 1) + '.py').then(function(result) {
              $vm.tasks[i].content.userInput = result;
            });
          }
          this.fetchText($vm.base_github_url + 'text/press_release.html').then(function(result) {
            $vm.press_release_text = result;
          });
        },
        methods: {
          changeSite: function(siteId) {
            switch(siteId) {
              case 0:
                this.is_home = true;
                this.is_course = this.is_press_release = this.is_contact = false;
                break;
              case 1:
                this.is_course = true;
                this.is_home = this.is_press_release = this.is_contact = false;
                break;
              case 2:
                this.is_press_release = true;
                this.is_home = this.is_course = this.is_contact = false;
                break;
              case 3:
                this.is_contact = true;
                this.is_home = this.is_course = this.is_press_release = false;
                break;
              default:
                console.log('Incorrect navigation button pressed');
            }
          },
          isComplete: function(page) {
            return this.completePages.includes(page);
          },
          isCurrent: function(page) {
            return this.currentPage === page;
          },
          isFirst: function(page) {
            return page === 1;
          },
          isLast: function(page) {
            return page === this.pages[this.pages.length - 1];
          },
          evaluateCode: function(response) {
            let {data, taskId} = response;
            console.log('evaluate:data', data);
            console.log('evaluate:taskId', taskId);
            this.tasks[taskId - 1].content.output = data.isComplete;
            this.tasks[taskId - 1].content.tried = true;
            console.log(this.tasks[taskId - 1].content.output);
            if (this.tasks[taskId - 1].content.output === true) {
              Vue.set(this.showPassedTaskAlerts, taskId - 1, true);
              Vue.set(this.showFailedTaskAlerts, taskId - 1, false);
            } else {
              Vue.set(this.showPassedTaskAlerts, taskId - 1, false);
              Vue.set(this.showFailedTaskAlerts, taskId - 1, true);         
            }
          },
          async fetchText(url) {
            let response = await fetch(url);
            let value = null;
            if (response.ok) {
              const resp = await response.text();
              value = resp;
            }
            return value; 
          }
        }
      });

      function defaultInput() {
        return '"""\nInput your code here:\n"""';
      }

      function formSubmit() {
        let feedbackForm = document.getElementById('feedbackForm')
        saveFormFirebase(feedbackForm);
        feedbackForm.reset();
      }

      function saveFormFirebase(feedbackForm) {
        let feedbackRefs = firebase.database().ref('feedbacks');
        let feedbackRef = feedbackRefs.push();
        feedbackRef.update({
          name: feedbackForm.name.value,
          email: feedbackForm.email.value,
          type: feedbackForm.feedbackType.value,
          comment: feedbackForm.comment.value,
          time: new Date().toUTCString()
        });
        return feedbackRef
      }

      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyCcLe5XNNpGmuxBgNwYeZ0bIj6TW-5P21A",
        authDomain: "bt3103-final-lambda.firebaseapp.com",
        databaseURL: "https://bt3103-final-lambda.firebaseio.com",
        projectId: "bt3103-final-lambda",
        storageBucket: "bt3103-final-lambda.appspot.com",
        messagingSenderId: "23368133143",
        appId: "1:23368133143:web:d5579d3ebaf292f58a8a52"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);

    </script>
  </body>

<style type="text/css">

body {
  background-color: #f2f2f2;
}

.headline {
  color: #00254d;
  padding-left: 20px;
  font-family: 'Staatliches', cursive;
}

.bg-primary-dark {
  background-color: #003166;
}

.bg-primary-dark-2 {
  background-color: #004a99;
}

.bg-primary-dark-3 {
  background-color: #0063cc;
}

.bg-danger-dark {
  background-color: #991a27;
}

.bg-success-dark {
  background-color: #23903a;
}

.bg-bootstrap-danger {
  background-color: #dc3445;
}

.bg-bootstrap-success {
  background-color: #28a744;
}

.execute {
  background-color: #013e7f;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.preserve-formatting-text {
    white-space: pre-wrap;
    text-align: left;
}

.padding-left-right {
    padding-left: 150px;
    padding-right: 150px;
}

.padding-10 {
  padding: 10px;
}

.bg-white {
  background-color: white;
}

.header-contact-image {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
  padding-top: 75px;
  
}

.header-over-image-1 {
  position: absolute;
  color: white;
  top: 45%;
  left: 0;
  width: 100%;
}

.header-over-image-2 {
  position: absolute;
  color: white;
  top: 65%;
  left: 0;
  width: 100%;
}


li.completion {
  margin: 0.5em;
}

.contact-form {
  margin-left: auto;
  margin-right: auto;
}

.team{
 margin: 4em 0;
 position: relative;  
}
.team h1{
 color:#F97300;
 margin: 2em; 
}
.team .item{
 position: relative;
}
.team .des{
 background: #F97300;
 color: #fff;
 text-align: center;
 border-bottom-left-radius: 93%;
 transition:.3s ease-in-out;
 
}
.team .item:hover .des{
 height: 100%;
 background:#f973007d;
 position: absolute;
 width: 89%;
 padding: 5em;
 top: 0;
 border-bottom-left-radius: 0;
}

.Testimonials{
 margin: 4em 0;
 position: relative; 
}
.Testimonials h1{
 color:black;
 margin: 2em; 
}
.Testimonials .card{
 box-shadow: 0 0 20px #ccc;
 box-sizing: border-box;
}
.Testimonials .card img{
 width: 60%;
 height: 60%;
 border-radius: 50%;
}
.Testimonials .card-title{
 color:black;
  
}
.Testimonials .card-body{
 padding: 1em;
}
.Testimonials .card-text-test{
 text-align: justify;
 padding-left: 5em;
 padding-right: 5em;
}

.header{
 background-image: url('https://raw.githubusercontent.com/oziomek1/bt3103/master/src/images/meeting.jpg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
 position: absolute;
 min-height: 50%;
 min-width: 100%;
 left: 0;
 top: 50;
}
.description{
  position: relative;
  top: 35%;
  margin: auto;
  padding: 3em;
}
.description h1{
 color:rgb(255, 140, 40) ;
}
.description p{
 color:rgb(255, 255, 255);
 font-size: 20px;
 width: 60%;
 line-height: 1.5;
 text-align: center;
 position: relative;
 top: 30%;
 margin: auto;
 padding: 2em;
}
.description button{
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;

}

.about{
 margin: 4em 0;
 padding: 1em;
 position: relative;
}
.about h1{
 color:#F97300;
 margin: 2em;
}
.about img{
 height: 80%;
    width: 90%;
    border-radius: 50%
}
.about span{
 display: block;
 color: #888;
 position: absolute;
 left: 115px;
}
.about .desc{
 padding: 2em;
 border-left:4px solid #10828C;
}
.about .desc h3{
 color: #10828C;
}
.about .desc p{
 line-height:2;
 color:#888;
}
</style>
</html>
